<footer>
    <div class="footer">
      <div class="container">
          <ul class="footer_menu">
              <li class="navbar-brand　glyphicon" ><%= link_to "このサイトについて","/about_site" %></li>
              <li class="navbar-brand　glyphicon" ><%= link_to "サイト規約","/sitepolicy" %></li>
              <li class="navbar-brand　glyphicon" ><%= link_to "問い合わせメール","/form" %></li>
          </ul>
          <div class="footer-copyright clearfix text-center">
          <p>&copy; Pict-ups</p>
        </div>
      </div>
     </div>  
</footerÏ