
  
 

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
          <ul class="list-group panel">
            <li class="list-group-item text-center"><i class="glyphicon glyphicon-align-justify"></i>サイトメニュー</li>
            <li>
              
            </li>
            </li>
          </ul>
        </div>