<%= render 'header' %>

 <div class="container-fluid">
    <!--documents-->
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-12 col-sm-9 content">
          <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="content-row">
               
                <h2 class="content-row-title">詳細ページ</h2>
                <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                      <img class="img-rounded" src="dist/img/thumbnail-1.jpg">
                      
                    </div>
                </div>
              </div>
            </div><!-- panel body -->
          </div>
        </div><!-- content -->
      </div>
    </div>
<%= render 'footer' %>