<%= render 'header' %>
<div class="toptopic confirm">
  <h2>メッセージ送信完了</h2>
  <p>
    メッセージをいただきありがとうございました。
  </p>
  <p><%= link_to '戻る', '/', :class => "btn btn-default btn-xl", :method => :get %></p>
</div>
<%= render 'footer' %>